.feedback-title{
    font-family: Inter;
    font-size: 2.5vw;
    font-weight: 550;
    text-align: center;
    margin-top: 10vw;
}

.feedback-para{
    font-family: Roboto;
    font-size: 1.1vw;
    text-align: center;
    width: 70%;
    margin: auto;
    margin-top: 3vw;
}
.feedback-btn-div{
    width: 9.5vw;
    margin: auto;
    margin-top: 3vw;
}
.feedback-btn{
    background: #3B3D3C;
    font-family: Poppins;
    color: white;
    border: none;
    font-size: 1.2vw;
    padding: 0.5vw 1vw 0.5vw 1vw;
    border-radius: 1vw;
}


/* carousel responsivenes */

.list-wrapper {
    position: relative;
    margin-top: 5vh;
    width: 70%;
    margin: auto;
  }

  .list {
    display: flex;
    gap: 5vw;
    padding: 2vw;
    scrollbar-width: none;
    list-style: none;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    -ms-overflow-style: none;
  }
  .list::-webkit-scrollbar {
    display: none;
  }


  .item {
    flex-shrink: 0;
    width: 23vw;
    box-shadow: 0px 4px 25.3px 0px #0000000A;
    scroll-snap-align: center;
    padding: 2vw 1.3vw 2vw 1.3vw;
    
  }
  
  .item-title{
    font-size: 1.7vw;
    font-family: Inter;
    font-weight: 500;
    margin-top: 1vw;
  }
  .item-para{
    font-family: Roboto;
    font-size: 0.9vw;
    font-weight: 400;
    margin-top: 0.5vw;
  }

  .item-sub{
    font-family: Roboto;
    font-size: 1.vw;
    text-align: justify;
    margin-top: 1.5vw;
  }
  /* .content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  
    font-family: sans-serif;
    font-size: 64px;
    font-weight: bold;
  } */

  .button {
    position: absolute;
    top: 40%;
    background-color: rgba(0, 0, 0, 0.4);
    width: 3rem;
    height: 3rem;
    color: white;
    font-size: 2rem;
    transform: translateY(-50%);
    border: none;
    border-radius: 50%;
    cursor: pointer;
  }

  .button--previous {
    left: 1.5rem;
  
    transform: rotate(180deg);
  }
  
  .button--next {
    right: 1.5rem;
  }

