
.parallax-container {
    width: 100%;
    position: relative;
    height: 80vh;
    justify-content: center;
    align-items: center;
  }
  
  .content {
    width: 100%;
    background: rgba(0, 0, 0, 0.7); /* Optional: background overlay for better text readability */
    height: 80vh;
  }

  .header-title{
    font-size: 3vw;
    color: white;
    font-weight: 400;
    width: 70vw;
    text-align: center;
    margin: auto;
    padding-top: 7vw;
    font-family: Inter;
  }

  .header-para{
    color: white;
    text-align: center;
    width: 80vw;
    margin: auto;
    font-size: 1.2vw;
    margin-top: 3vw;
    font-size: roboto;
  }

  .header-btn{
    width: 11.5vw;
    margin: auto;
    margin-top: 2vw;
  }
  .header-btn-enquiry{
    font-family: poppins;
    color: #131313;
    background-color: white;
    border: none;
    font-size: 1.1vw;
    padding: 0.8vw 1vw 0.8vw 1vw;
    border-radius: 2vw;
    font-weight: 600;
  }